# Windows 
/Windows/VisualStudio/.vs/
/Windows/VisualStudio/Build-kabluk/
/Windows/VisualStudio/history.txt
/Windows/VisualStudio/*.user
/Windows/VisualStudio/kuzbass/
/Windows/VisualStudio/Backup/
Windows/VisualStudio/UpgradeLog.htm

# macOS
.DS_Store
```
# Compiled and build artifacts
*.o
*.d
Quake/*.o
Quake/*.d
```
